@media (min-width: 480px) {
  body {
    background-image: url("images/pattern-background-desktop.svg");
  }

  /* Card styling */
  .card__content {
    /* bottom padding = 48px - 15px for button */
    padding: 45px 48px 33px;
  }

  .card__title {
    font-size: 1.75em;
    line-height: 1.321em;
    margin-bottom: 17px;
  }

  .card__paragraph {
    margin-top: 17px;
    font-size: 1em;
    line-height: 1.625em;
  }

  .card__plan {
    margin-top: 20px;
  }

  .card__footer {
    margin-top: 32px;
  }

  .card__footer > * + * {
    margin-top: 17px;
  }

  /* Plan styling */
  .plan {
    padding: 25px 24px;
  }

  .plan__title,
  .plan__price {
    font-size: 1em;
    line-height: 1.313em;
  }

  .plan__action {
    font-size: 0.875em;
    line-height: 1.321em;
  }
}
